body {
    background-color: lightseagreen;
}

.card {
    margin-bottom: 10px;
}

.checked {
    color: darkseagreen;
}

div div.loadingPlaceholder {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

img.imgLoading {
    opacity: 0;
}

img.imgLoaded {
    opacity: 1;
    transition: opacity 2s linear;
}
